<!-- Background -->
<div class="account-pages"></div>

<!-- Begin page -->
<br /><br />
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h3 class="text-center m-0">
            <a routerLink="/problemes" class="logo logo-admin"><img src="assets/images/agena300.png" height="30"
                alt="logo" /></a>
          </h3>
          <h4 class="text-muted font-18 m-b-5 text-center">
            Bienvenue à notre <a routerLink="/problemes">Support Agena3000</a>
          </h4>

          <div class="user-thumb text-center m-b-30">
            <img src="http://localhost:3000/uploads/1584110542457favicon.jpg" class="rounded-circle img-thumbnail"
              alt="thumbnail" />
            <h6>{{ user.firstName }} {{ user.lastName }}</h6>
          </div>
          <div class="p-3">
            <p class="text-muted text-center">
              Bienvenue<b> {{ user.firstName }} {{ user.lastName }}</b> , fait
              une description sur votre probleme !
            </p>

            <form (submit)="addProbleme()" class="form-horizontal m-t-30" action="index.html">
              <div class="form-group">
                <label for="username">Objet :</label>
                <ul *ngIf="objetVal.errors?.required  && objetVal.touched " class="parsley-errors-list filled"
                  id="parsley-id-13">
                  <li class="parsley-equalto">Champs Obligatoire ! .</li>
                </ul>
                <input type="text" class="form-control" name="objet" id="objet" placeholder="Titre de probleme"
                  [(ngModel)]="probleme.objet" #objetVal="ngModel" required />
              </div>

              <div class="form-group">
                <label for="userpassword">Catégorie :</label>
                <ul *ngIf="categorieVal.invalid  && categorieVal.touched " class="parsley-errors-list filled"
                  id="parsley-id-13">
                  <li class="parsley-equalto">Champs Obligatoire ! .</li>
                </ul>
                <select name="categorie" [(ngModel)]="probleme.categorie" class="custom-select" #categorieVal="ngModel"
                  required>
                  <option *ngFor="let cat of listCategorie" value="{{cat.id}}">{{cat.name}}</option>

                </select>
              </div>
              <div class="form-group">
                <label for="userpassword">Description :</label>
                <ul *ngIf="descriptionVal.errors?.required  && descriptionVal.touched "
                  class="parsley-errors-list filled" id="parsley-id-13">
                  <li class="parsley-equalto">Champs Obligatoire ! .</li>
                </ul>
                <textarea name="description" id="textarea" class="form-control" maxlength="1000" rows="10"
                  placeholder="Description" [(ngModel)]="probleme.description" #descriptionVal="ngModel"
                  required></textarea>
              </div>
              <div class="custom-file">
                <label for="images">Joindre des fichiers </label>
                <input #file type="file" accept="image/*" class="custom-file-input" id="validatedCustomFile"
                  multiple="multiple" (change)="preview(file.files)">
                <label class="custom-file-label" for="validatedCustomFile">Joindre des fichiers...</label>
              </div>

              <div class="form-group">
                <div>
                  <button type="submit" [disabled]=" descriptionVal.errors || categorieVal.errors || objetVal.errors "
                    class="btn btn-primary waves-effect waves-light">
                    Réclamer
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>