<app-header-support-n></app-header-support-n>
<div class="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="container">
              <div class="messaging">
                <div class="inbox_msg">
                  <div class="inbox_people">
                    <div class="headind_srch">
                      <div class="recent_heading">
                        <h4>Liste des clients</h4>
                      </div>
                      <div class="srch_bar">
                        <div class="stylish-input-group">
                          <input type="text" class="search-bar " id="client" name="client" (input)='searchClient()'
                            [(ngModel)]="client" #clientModel="ngModel" placeholder="Recherche" />
                          <span class="input-group-addon">
                            <button type="button">
                              <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="inbox_chat">
                      <div *ngFor="let client of clients">
                        <div class="chat_list" *ngIf="isOnline(client.id)" (click)="getSelectedClient(client.id)">
                          <div class="chat_people">
                            <div class="chat_img rounded-circle">
                              <img class="thumb-md rounded-circle" src="http://localhost:3000/{{
                                  client.image
                                }}" alt="sunil" />
                              <span style="align-items: center;" *ngIf="isOnline(client.id)"
                                class="badge badge-success badge-pill">
                                Actif
                              </span>
                              <span style="align-items: center;" *ngIf="!isOnline(client.id)"
                                class="badge badge-light badge-pill">
                                Inactif
                              </span>
                            </div>
                            <div class="chat_ib">
                              <b>
                                {{ client.name }}

                              </b>
                              <ul class="social-links list-inline mb-0 p-2">
                                <li class="list-inline-item">
                                  <a title="" data-placement="top" (click)="voiceCallRequest(client.id)"
                                    class="btn-success tooltips" data-toggle="tooltip" href="javascript:void(0);"
                                    data-original-title="Appel Vocale"><i class="fa fa-phone"></i></a>
                                </li>
                                <li class="list-inline-item">
                                  <a title="" data-placement="top" (click)="controleRequest(client.id)"
                                    class="btn-info tooltips" data-toggle="tooltip" href="javascript:void(0);"
                                    data-original-title="Demande de partage d'écran"><i class="fas fa-laptop"></i></a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mesgs">
                    <div class="msg_history">
                      <h3 class="text-center m-0">
                        <a href="index.html" class="logo logo-admin"><img src="assets/images/agena300.png" height="30"
                            alt="logo" /></a>
                      </h3>
                      <h4 class="text-muted font-18 m-b-5 text-center">
                        Bienvenue à notre Support Agena3000
                      </h4>

                      <div style="margin-left: 10%;margin-top: 30%;">
                        <button type="button" class="btn btn-success btn-lg waves-effect waves-light"
                          [disabled]="!disabled" (click)="controleRequest(clientId)">
                          <span class="fas fa-desktop"> | </span> Demande de Partage d'ecran</button> ||
                        <button type="button" class="btn btn-danger btn-lg waves-effect waves-light"
                          [disabled]="!disabled" (click)="voiceCallRequest(clientId)"><span
                            class="mdi mdi-headphones-settings "> | </span> Demande d'Appel
                          vocale
                        </button>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>