<app-header-support-n></app-header-support-n>
<div class="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="container">
              <h3 class="text-center">Messagerie</h3>
              <div class="messaging">
                <div class="inbox_msg">
                  <div class="inbox_people">
                    <div class="headind_srch">
                      <div class="recent_heading">
                        <h4>Discussion</h4>
                      </div>
                      <div class="srch_bar">
                        <div class="stylish-input-group">
                          <input
                            type="text"
                            class="search-bar"
                            placeholder="Recherche"
                          />
                          <span class="input-group-addon">
                            <button type="button">
                              <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="inbox_chat">
                      <div *ngFor="let dis of discussions">
                        <div
                          class="chat_list"
                          (click)="getDiscussionAction(dis)"
                        >
                          <div class="chat_people">
                            <div class="chat_img rounded-circle">
                              <img
                                height="75px"
                                width="75px"
                                src="http://localhost:3000/{{
                                  getUserById(dis.clientId).image
                                }}"
                                alt="sunil"
                              />
                              <span
                                style="align-items: center;"
                                *ngIf="isOnline(dis.clientId)"
                                class="badge badge-success badge-pill"
                              >
                                Actif
                              </span>
                              <span
                                style="align-items: center;"
                                *ngIf="!isOnline(dis.clientId)"
                                class="badge badge-light badge-pill"
                              >
                                Inactif
                              </span>
                            </div>
                            <div class="chat_ib">
                              <h5>
                                {{ getUserById(dis.clientId).name }}
                                <span class="chat_date">
                                  {{ dis.updatedAt | date: "medium" }}</span
                                >
                              </h5>
                              <ul class="social-links list-inline mb-0 p-2">
                                <li class="list-inline-item">
                                  <a
                                    title=""
                                    data-placement="top"
                                    (click)="voiceCallRequest(dis.clientId)"
                                    class="btn-success tooltips"
                                    data-toggle="tooltip"
                                    href="javascript:void(0);"
                                    data-original-title="Appel Vocale"
                                    ><i class="fa fa-phone"></i
                                  ></a>
                                </li>
                                <li class="list-inline-item">
                                  <a
                                    title=""
                                    data-placement="top"
                                    (click)="controleRequest(dis.clientId)"
                                    class="btn-info tooltips"
                                    data-toggle="tooltip"
                                    href="javascript:void(0);"
                                    data-original-title="Demande de partage d'écran"
                                    ><i class="fas fa-laptop"></i
                                  ></a>
                                </li>
                              </ul>
                              <p>
                                <b
                                  >Probleme :
                                  {{ getProbById(dis.problemeId).objet }}</b
                                >
                                .
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mesgs">
                    <div class="msg_history">
                      <div *ngFor="let msg of messages">
                        <div
                          *ngIf="user.id == msg.receiver"
                          class="incoming_msg"
                        >
                          <div class="incoming_msg_img">
                            <img
                              src="http://localhost:3000/{{
                                getUserById(msg.sender).image
                              }}"
                              alt="sunil"
                            />
                          </div>
                          <div class="received_msg">
                            <div class="received_withd_msg">
                              <p>{{ msg.contenu }}</p>
                              <span class="time_date">{{
                                msg.createdAt | date: "longDate"
                              }}</span>
                            </div>
                          </div>
                        </div>
                        <div *ngIf="user.id == msg.sender" class="outgoing_msg">
                          <div class="sent_msg">
                            <p>{{ msg.contenu }}</p>
                            <span class="time_date">{{
                              msg.createdAt | date: "longDate"
                            }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="discussion?.id" class="type_msg">
                      <div class="input_msg_write">
                        <form (submit)="sendMessage()">
                          <input
                            type="text"
                            name="message"
                            class="write_msg"
                            placeholder="Ecrire votre message"
                            [(ngModel)]="message"
                          />
                          <button
                            (click)="sendMessage()"
                            class="msg_send_btn"
                            type="button"
                          >
                            <i class="ion-android-send" aria-hidden="true"></i>
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
