<app-header-support-n>
</app-header-support-n>
<div class="page-content-wrapper">
    <div class="container-fluid">
        <div class="card m-b-20">
            <div class="card-body">

                <h4 class="mt-0 header-title">Ajouter des catégories du problémes</h4>

                <form (submit)="add()" class="form-horizontal m-t-30" action="index.html">
                    <div class="form-group">
                        <label for="username">Catégorie :</label>
                        <div *ngIf="estAjoutee " class="alert alert-info" role="alert">
                            Nouvelle catégorie : <strong>{{categorie}} </strong> est ajoutée!
                        </div>
                        <ul *ngIf="categorieModel.touched && categorieModel.errors?.required"
                            class="parsley-errors-list filled" id="parsley-id-13">
                            <li class="parsley-equalto">Champs obligatoire .</li>
                        </ul>
                        <input type="text" class="form-control" name="categorie" id="categorie" placeholder="Catégorie"
                            [(ngModel)]="categorie" #categorieModel="ngModel" required />
                    </div>

                    <div class="form-group">
                        <div>

                            <button type="submit" [disabled]="categorieModel.errors"
                                class="btn btn-info waves-effect waves-light">
                                Ajouter
                            </button>

                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card m-b-20">
            <div class="card-body">

                <h4 class="mt-0 header-title">List Catégorie</h4>
                <div *ngIf="estSupprimee" class="alert alert-primary" role="alert">
                    Catégorie : <strong>{{nameSupprimee}} </strong> est supprimée!
                </div>

                <table class="table table-borderless mb-0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Catégorie</th>
                            <th>Supprimer</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let cat of categories;let i=index">
                            <th scope="row">{{i+1}}</th>
                            <td>{{cat.name}}</td>
                            <td>
                                <div>
                                    <button (click)="delete(cat.id,i,cat.name)"
                                        class="btn btn-primary waves-effect waves-light" id="sa-params">Supprimer
                                        <span class="mdi mdi-delete
                                        "></span></button>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>