<app-header></app-header>
<div class="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div *ngFor="let prob of listProbleme" class="col-xl-4 col-lg-6">
        <div class="card directory-card m-b-20">
          <div class="card-body directory-card-bg">
            <div class="clearfix">
              <div *ngIf="prob.supportId" class="directory-img float-left mr-4">
                <img class="rounded-circle thumb-lg img-thumbnail"
                  src="http://localhost:3000/{{getUserById(prob.supportId).image}}" alt="Generic placeholder image" />
                <p><b>{{getUserById(prob.supportId).name}}</b></p>
              </div>
              <div *ngIf="!prob.supportId" class="directory-img float-left mr-4">
                <img class="rounded-circle thumb-lg img-thumbnail" src="assets/images/users/user-4.jpg"
                  alt="Generic placeholder image" />
                <p><b>Non affecté</b></p>
              </div>
              <h5 class="font-16 mt-0">{{prob.objet}}</h5>
              <p class="text-muted mb-2">Categorie : {{getCatsById(prob.categorieId).name}}</p>

              <p class="text-muted">
                <span *ngIf="prob.state == 'en cours' " class="badge badge-warning badge-pill"><i
                    class="mdi mdi-checkbox-blank-circle text-warning"></i>
                  En Cours </span>
                <span *ngIf="prob.state == 'résolu' " class="badge badge-success badge-pill"><i
                    class="mdi mdi-checkbox-blank-circle text-success"></i>
                  Résolu</span>
                <span *ngIf="prob.state == 'envoyé' " class="badge badge-danger badge-pill"><i
                    class="mdi mdi-checkbox-blank-circle text-danger"></i>
                  Reçu</span>
              </p>
            </div>

            <div class="social-icons">
              <ul class="social-links list-inline mb-0 p-2">
                <li class="list-inline-item">
                  <a title="" data-placement="top" class="btn-danger tooltips" data-toggle="tooltip"
                    routerLink="/detail/{{prob.id}}" data-original-title="Facebook"><i
                      class="fab fa-rocketchat"></i></a>
                </li>
                <li class="list-inline-item">
                  <a title="" data-placement="top" class="btn-info tooltips" data-toggle="tooltip" href=""
                    data-original-title="Twitter"><i class="fas fa-check-circle
                    "></i></a>
                </li>


              </ul>
            </div>
          </div>
        </div>
      </div>




    </div>
  </div>
</div>
<app-footer></app-footer>