<!-- Navigation Bar-->
<header id="topnav">
  <div class="topbar-main">
    <div class="container-fluid">
      <!-- Logo container-->
      <div class="logo">
        <a href="index.html" class="logo">
          <img src="assets/images/logo-sm-light.png" alt="" class="logo-small" />
          <img src="assets/images/agena300.png" alt="" class="logo-large" />
        </a>
      </div>

      <!-- End Logo container-->
      <router-outlet></router-outlet>

      <div class="menu-extras topbar-custom">
        <ul class="navbar-right d-flex list-inline float-right mb-0">
          <li class="dropdown notification-list d-none d-sm-block">
            <form role="search" class="app-search">
              <div class="form-group mb-0">
                <input type="text" class="form-control" placeholder="Search.." />
                <button type="submit"><i class="fa fa-search"></i></button>
              </div>
            </form>
          </li>
          <li class="dropdown notification-list">
            <a class="nav-link dropdown-toggle arrow-none waves-effect waves-light" data-toggle="dropdown" href="#"
              role="button" aria-haspopup="false" aria-expanded="false">
              <i class="mdi mdi-bell noti-icon"></i>
              <span class="badge badge-pill badge-info noti-icon-badge">{{notifications.length}}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg">
              <!-- item-->
              <h6 class="dropdown-item-text">
                Notifications ({{notifications.length}})
              </h6>
              <div class="slimscroll notification-item-list">
                <!-- item-->
                <div *ngFor="let notif of notifications">
                  <a (click)="seenNotif(notif.id)" *ngIf="notif.type=='affecte'"
                    class="dropdown-item notify-item active" href="javascript:void(0)">
                    <div class="notify-icon bg-success">
                      <i class="ion-checkmark-circled"></i>
                    </div>
                    <p class="notify-details">
                      Support Affecté<span class="text-muted">{{notif.sender}}
                        {{notif.contenu}}</span>
                    </p>
                  </a>
                  <a (click)="seenNotif(notif.id)" *ngIf="notif.type=='comment'"
                    class="dropdown-item notify-item active" href="javascript:void(0)">
                    <div class="notify-icon bg-warning">
                      <i class="mdi mdi-message"></i>
                    </div>
                    <p class="notify-details">
                      Commentaire Ajouté<span class="text-muted">{{notif.sender}}
                        {{notif.contenu}} </span>
                    </p>
                  </a>
                </div>

              </div>
              <!-- All-->
              <a href="javascript:void(0);" class="dropdown-item text-center text-primary">
                View all <i class="fi-arrow-right"></i>
              </a>
            </div>
          </li>

          <li class="dropdown notification-list">
            <div class="dropdown notification-list">
              <a class="dropdown-toggle nav-link arrow-none waves-effect nav-user waves-light" data-toggle="dropdown"
                href="#" role="button" aria-haspopup="false" aria-expanded="false">
                <img width="25px" height="25px" src="http://localhost:3000/{{ image }}" alt="user"
                  class="rounded-circle" />
              </a>
              <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                <!-- item-->

                <div class="dropdown-divider"></div>
                <a (click)="logout()" class="dropdown-item text-danger" routerLink="/login"><i
                    class="mdi mdi-power text-danger"></i> Logout</a>
              </div>
            </div>
          </li>

          <li class="menu-item list-inline-item">
            <!-- Mobile menu toggle-->
            <a class="navbar-toggle nav-link">
              <div class="lines">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </a>
            <!-- End mobile menu toggle-->
          </li>
        </ul>
      </div>
      <!-- end menu-extras -->

      <div class="clearfix"></div>
    </div>
    <!-- end container -->
  </div>
  <!-- end topbar-main -->

  <!-- MENU Start -->
  <div class="navbar-custom">
    <div class="container-fluid">
      <div id="navigation">
        <!-- Navigation Menu-->
        <ul class="navigation-menu">
          <li class="has-submenu">
            <a href="index.html"><i class="mdi mdi-home"></i>Documentation</a>
          </li>

          <li class="has-submenu">
            <a routerLink="/problemes"><i class="mdi mdi-buffer"></i>Mes Problémes</a>
          </li>

          <li class="has-submenu">
            <a routerLink="/reclamer"><i class="mdi mdi-black-mesa"></i>Réclamer une problème</a>
          </li>

          <li class="has-submenu">
            <a routerLink="/chat/discussion"><i class="mdi mdi-home"></i>Messagerie ({{discussion}})</a>

          </li>
        </ul>
        <!-- End navigation menu -->
      </div>
      <!-- end #navigation -->
    </div>
    <!-- end container -->
  </div>
  <!-- end navbar-custom -->
</header>
<!-- End Navigation Bar-->

<!-- page wrapper start -->
<div class="wrapper">
  <div class="page-title-box">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">


          <h4 class="page-title">Dashboard</h4>
          <ol class="breadcrumb">
            <li class="breadcrumb-item active">Agena3000 Support</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>