<!-- Background -->
<div class="account-pages"></div>
<!-- Begin page -->
<div class="wrapper-page">

    <div class="card">
        <div class="card-body">

            <h3 class="text-center m-0">
                <a href="index.html" class="logo logo-admin"><img src="assets/images/agena300.png" height="30"
                        alt="logo"></a>
            </h3>
            <div class="p-3">
                <h4 class="text-muted font-18 m-b-5 text-center">Bienvenue !</h4>
                <p class="text-muted text-center">Entrez votre paramétres de connexions.</p>
                <div *ngIf="err" class="alert alert-primary" role="alert">
                    Veuillez vérifier votre paramétres
                </div>

                <form (submit)="login()" class="form-horizontal m-t-30" action="index.html">

                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" name="name" id="username" placeholder="Enter username"
                            [(ngModel)]="user.username">
                    </div>

                    <div class="form-group">
                        <label for="userpassword">Mot de passe</label>
                        <input type="password" class="form-control" name="password" id="userpassword"
                            placeholder="Enter password" [(ngModel)]="user.password">
                    </div>

                    <div class="form-group row m-t-20">
                        <div class="col-6">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customControlInline">
                            </div>
                        </div>
                        <div class="col-6 text-right">
                            <button class="btn btn-primary w-md waves-effect waves-light"
                                type="submit">Connexion</button>
                        </div>
                    </div>


                </form>
            </div>

        </div>
    </div>

    <div class="m-t-40 text-center">
        <p class="text-white-50">Avez vous un compte ? <a routerLink="/register" class="text-white"> Inscription </a>
        </p>
    </div>

</div>