<app-header-support-n></app-header-support-n>
<div class="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="text-center m-0">
                            <a href="javascript:void(0)" class="logo logo-admin"><img src="assets/images/agena300.png"
                                    height="30" alt="logo" /></a>
                        </h3>
                        <h4 class="text-muted font-18 m-b-5 text-center">
                            Bienvenue à notre Support Agena3000
                        </h4>
                        <div class="user-thumb text-center m-b-30">
                            <img src="http://localhost:3000/uploads/1584110542457favicon.jpg"
                                class="rounded-circle img-thumbnail" alt="thumbnail" />
                            <h5>{{ user.username }}</h5>
                        </div>
                        <div class="p-3">
                            <b>
                                <p class="text-muted text-center">
                                    Bienvenue<b> {{ user.username }}</b> , Notre support va vous demander l'accès au
                                    contrôle d'écran
                                    !
                                </p>
                            </b>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>