<!-- Navigation Bar-->
<header id="topnav">
  <div class="topbar-main">
    <div class="container-fluid">
      <!-- Logo container-->
      <div class="logo">
        <a href="index.html" class="logo">
          <img src="assets/images/logo-sm-light.png" alt="" class="logo-small" />
          <img src="assets/images/logo_agena3000.png" alt="" class="logo-large" />
        </a>
      </div>

      <!-- End Logo container-->
      <router-outlet></router-outlet>

      <div class="menu-extras topbar-custom">
        <ul class="navbar-right d-flex list-inline float-right mb-0">
          <li class="dropdown notification-list d-none d-sm-block">
            <div class="dropdown notification-list">
              <a class="dropdown-toggle nav-link arrow-none waves-effect nav-user waves-light" data-toggle="dropdown"
                href="#" role="button" aria-haspopup="false" aria-expanded="false">
                <img src="assets/images/favicon.jpg" alt="user" class="rounded-circle">
              </a>
              <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                <!-- item-->

                <a class="dropdown-item text-danger" href="javascript:void(0);" (click)="logout()"><i
                    class="mdi mdi-power text-danger"></i>
                  Logout</a>
              </div>
            </div>
          </li>





        </ul>
      </div>
      <!-- end menu-extras -->

      <div class="clearfix"></div>
    </div>
    <!-- end container -->
  </div>

  <div class="navbar-custom">
    <div class="container-fluid">
      <div id="navigation">
        <!-- Navigation Menu-->
        <ul class="navigation-menu">
          <li class="has-submenu">
            <a href="javascript:void(0);"><i class="mdi mdi-home"></i>Support Agena3000</a>
          </li>
        </ul>
        <!-- End navigation menu -->
      </div>
      <!-- end #navigation -->
    </div>
    <!-- end container -->
  </div>
  <!-- end topbar-main -->

  <!-- MENU Start -->

  <!-- end navbar-custom -->
</header>
<!-- End Navigation Bar-->

<!-- page wrapper start -->
<div class="wrapper">
  <div class="page-title-box">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">


          <h4 class="page-title">Bienvenue</h4>
          <ol class="breadcrumb">
            <li class="breadcrumb-item active">Agena3000 Support</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>